<ion-header>

    <ion-navbar>
        <ion-title>{{pageTitle}} Note</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit(noteForm)">
        <ion-list>
            <ion-item>
                <ion-label floating>Title
                    <sup>*</sup>
                </ion-label>
                <ion-input type="text" formControlName="title"></ion-input>

            </ion-item>
            <div *ngIf="noteForm.controls['title'].errors && noteForm.controls['title'].touched" class="error-msg custom-error-msg">
                <div [hidden]="!noteForm.controls['title'].errors.required && !noteForm.controls['enterprize'].errors.whitespace" class="err-msg">
                    Title is required.
                </div>
            </div>
            <ion-item>
                <ion-label floating>Description</ion-label>
                <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
            <div *ngIf="noteForm.controls['description'].errors && noteForm.controls['description'].touched" class="error-msg custom-error-msg">
                <div [hidden]="!noteForm.controls['description'].errors.required && !noteForm.controls['enterprize'].errors.whitespace" class="err-msg">
                    Description is required.
                </div>
            </div>
        </ion-list>
        <button ion-button full round color="secondary" type="submit" [disabled]="noteForm.invalid">{{btnText}}</button>
    </form>
</ion-content>